.NavBar {
  height: 50px;
  background: rgb(48, 48, 48);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid rgb(116, 116, 116); */
  color: white;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
}

.nav-el {
  padding-left: 20px;
  padding-right: 20px;
}
