.post {
  border: 1px solid rgb(179, 179, 179);
  background: rgb(48, 48, 48);
  margin: 0px 10px 20px 10px;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  color: white;
}

/* First Section */
.pic-and-name-sec {
  display: block;
  min-width: 15rem;
  max-width: 15rem;
  text-align: center;
}
.img {
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.7);
  height: 150px;
  width: 150px;
  overflow: hidden;
}

/* Second section */
.date-and-post-sec {
  display: Flex;
  min-width: 80%;
  flex-direction: column;
}

.post-item {
  margin-left: 1em;
  word-wrap: break-word;
}

/* Third Section */
.star-button-sec {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}
.star-button {
  width: 120px;
  height: 30px;
  font-size: 10px;
}
