.NavBar {
  height: 50px;
  background: lemonchiffon;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.nav-el {
  padding-left: 20px;
  padding-right: 20px;
}
